openapi: 3.2.0
info:
  title: Hospitable Public User API
  description: The Hospitable Public API (v2) is a REST API for short-term and vacation rental hosts, property managers, and vendors.
  version: '2.0'
  contact:
    name: Hospitable
    url: https://developer.hospitable.com
  termsOfService: https://hospitable.com/terms
servers:
- url: https://public.api.hospitable.com/v2
  description: Hospitable Public API v2
security:
- bearerAuth: []
tags:
- name: User
  description: The authenticated Hospitable user.
paths:
  /user:
    get:
      operationId: getUser
      tags:
      - User
      summary: Get the authenticated user
      description: Returns the Hospitable user associated with the current token, including account and billing context. Modeled endpoint - confirm against the documentation.
      responses:
        '200':
          description: The authenticated user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
        timezone:
          type: string
    Error:
      type: object
      properties:
        message:
          type: string
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
  responses:
    Unauthorized:
      description: The Bearer token is missing, invalid, or lacks the required scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'A Personal Access Token (PAT) or OAuth 2.0 access token supplied as `Authorization: Bearer <token>`. OAuth 2.0 authorization-code flow is used for vendor integrations; PATs are scoped to a single Hospitable account for personal use.'
