openapi: 3.2.0
info:
  title: Hospitable Public Listings API
  description: The Hospitable Public API (v2) is a REST API for short-term and vacation rental hosts, property managers, and vendors.
  version: '2.0'
  contact:
    name: Hospitable
    url: https://developer.hospitable.com
  termsOfService: https://hospitable.com/terms
servers:
- url: https://public.api.hospitable.com/v2
  description: Hospitable Public API v2
security:
- bearerAuth: []
tags:
- name: Listings
  description: Channel listings (Airbnb, Vrbo, Booking.com, direct) mapped to a property.
paths:
  /listings:
    get:
      operationId: listListings
      tags:
      - Listings
      summary: List channel listings
      description: Lists the individual channel listings (Airbnb, Vrbo, Booking.com, direct) across the account, each mapped to a Hospitable property.
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: per_page
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: A paginated list of channel listings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Listing'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Listing:
      type: object
      properties:
        id:
          type: string
        property_id:
          type: string
        platform:
          type: string
          description: The channel this listing belongs to (airbnb, vrbo, booking, direct, homeaway, google).
        platform_id:
          type: string
          description: The channel's own identifier for the listing.
        name:
          type: string
        status:
          type: string
    Error:
      type: object
      properties:
        message:
          type: string
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
  responses:
    Unauthorized:
      description: The Bearer token is missing, invalid, or lacks the required scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'A Personal Access Token (PAT) or OAuth 2.0 access token supplied as `Authorization: Bearer <token>`. OAuth 2.0 authorization-code flow is used for vendor integrations; PATs are scoped to a single Hospitable account for personal use.'
