openapi: 3.0.3
info:
  title: Hospitable Public Calendar Listings API
  description: The Hospitable Public API (v2) is a REST API for short-term and vacation rental hosts, property managers, and vendors. It exposes the core objects of the Hospitable platform - properties, channel listings, reservations, guest messages, calendar availability and pricing, and reviews - as resources manipulated with conventional HTTP methods (GET, POST, PUT, PATCH, DELETE) over HTTPS. Versioning is in the URL path (e.g. /v2/properties). Requests are authenticated with a Bearer token that is either a Personal Access Token (PAT) for personal use or an OAuth 2.0 access token for vendor integrations; PATs have access to all endpoints by default. Read access covers properties, reservations, and calendar; write access covers property calendar pricing and availability and sending guest messages. Hospitable was formerly known as Smartbnb. Note - the exact request/response schemas below are modeled from Hospitable's public documentation and community SDKs; verify field-level details against developer.hospitable.com.
  version: '2.0'
  contact:
    name: Hospitable
    url: https://developer.hospitable.com
  termsOfService: https://hospitable.com/terms
servers:
- url: https://public.api.hospitable.com/v2
  description: Hospitable Public API v2
security:
- bearerAuth: []
tags:
- name: Listings
  description: Channel listings (Airbnb, Vrbo, Booking.com, direct) mapped to a property.
paths:
  /listings:
    get:
      operationId: listListings
      tags:
      - Listings
      summary: List channel listings
      description: Lists the individual channel listings (Airbnb, Vrbo, Booking.com, direct) across the account, each mapped to a Hospitable property.
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: per_page
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: A paginated list of channel listings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Listing'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
    Listing:
      type: object
      properties:
        id:
          type: string
        property_id:
          type: string
        platform:
          type: string
          description: The channel this listing belongs to (airbnb, vrbo, booking, direct, homeaway, google).
        platform_id:
          type: string
          description: The channel's own identifier for the listing.
        name:
          type: string
        status:
          type: string
  responses:
    Unauthorized:
      description: The Bearer token is missing, invalid, or lacks the required scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'A Personal Access Token (PAT) or OAuth 2.0 access token supplied as `Authorization: Bearer <token>`. OAuth 2.0 authorization-code flow is used for vendor integrations; PATs are scoped to a single Hospitable account for personal use.'
